GO
IF (EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES
				 WHERE TABLE_SCHEMA = 'dbo'  
                 and TABLE_NAME = 'configs'))
		BEGIN
				
				 Declare @CountRows as int
				 select @CountRows =  count(*) from configs
				 if(@CountRows=0)
				    begin
						SET IDENTITY_INSERT [dbo].[Configs] ON 

						INSERT [dbo].[Configs] ([Id], [Key], [Value], [Type]) VALUES (7, N'client_secret', N'abcd', N'Auth')
						INSERT [dbo].[Configs] ([Id], [Key], [Value], [Type]) VALUES (8, N'TokenOAuth', N'https://eauth.techdata.eu/as/token.oauth2', N'Auth')
						INSERT [dbo].[Configs] ([Id], [Key], [Value], [Type]) VALUES (9, N'client_id', N'abcd', N'Auth')
						
						update configs set type = 'Reseller Info'
						where id = '22'
						SET IDENTITY_INSERT [dbo].[Configs] OFF
				    end
					
				 else
					begin
						SET IDENTITY_INSERT [dbo].[Configs] ON 
						update configs set type = 'Reseller Info'
						where id = '22'
						SET IDENTITY_INSERT [dbo].[Configs] OFF
					end

		END

